.contacts-lead {
  margin-bottom: $grid*2;
}

.partners {
  border-top: 1px solid $color-white;
  margin-top: $grid*2;
  padding-top: $grid*1.5;
  margin-bottom: $grid*2;

  .font-size-h1 {
    margin-bottom: 0;
  }
}