body {
  padding: 0;
  color: #111;
  font-size: 18px;
  line-height: 24px;
  background: $color-blue;
  color: $color-white;
  font-family: $font-family-eng;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;

  @include respond-to(normal) {
    overflow: hidden;
    font-size: 34px;
    line-height: 48px;
  }
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-white;
  background-image: linear-gradient(to right, #fff 100%, transparent 100%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 3px;
}

p {
  margin-top: 0;
}

#projects {
  background: $color-blue;
}

#contacts {
  background: $color-pink;
}

#team {
  background: $color-orange;
}

.main {
  position: relative;
  @include respond-to(normal) {
    &.animated {
      .section {
        transition: transform $base-transition-style .3s;
      }
    }
  }
}

.container {
  padding-top: $header-mobile-offset;
  @include respond-to(normal) {
    width: 100%;
    position: relative;
    padding-top: 0;
  }
}

.padded {
  padding-left: $grid/3;
  padding-right: $grid/3;
  @include respond-to(normal) {
    padding-left: 0;
    padding-right: 0;
  }
}

.hidden {
  display: none;
}

.section {
  padding-top: 55px;
  display: none;
  @include respond-to(normal) {
    display: block;
    width: 100%;
    cursor: pointer;
    padding-top: 0;

    .wrapper {
      transition: opacity ease-in-out .3s;
      pointer-events: none;
    }
  }

  .scrollable {
    @include respond-to(normal) {
      padding: 0 $grid;
      height: 100vh;
      overflow: hidden;
      width: 100%;
    }
  }
}

.section.startpage {
  @include respond-to(normal) {
    padding: 0;

    .scrollable {
      padding: 0;
    }

    .wrapper {
      padding: 0 $trigger-size*2+24px 0 $grid;
      max-width: $container-size;
      margin: 0 auto;
    }

    .startpage-title, .startpage-descr {
      display: inline;
      font-size: 34px;
      line-height: 48px;
    }
  }
}

.startpage-active {
  .section.startpage {
    display: block;

    @include respond-to(normal) {
      cursor: auto;

      &.project-about-show .scrollable {
        overflow: hidden;
      }

      .wrapper {
        pointer-events: auto;
      }
    }
  }

  .scrollable {
    @include respond-to(normal) {
      overflow: scroll;
    }
  }
}

.section.contacts, .section.team {
  @include respond-to(normal) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    transform: translateX(100%);
    .wrapper {
      opacity: 0;
      max-width: 800px;
    }
  }
}

.contacts-active {
  .section.contacts {
    display: block;
    @include respond-to(normal) {
      transform: translateX($trigger-size);
      cursor: auto;
      .wrapper {
        opacity: 1;
        pointer-events: auto;
      }
    }
    .scrollable {
      @include respond-to(normal) {
        overflow: scroll;
      }
    }
  }
}

.team-active {
  .section.team {
    display: block;
    @include respond-to(normal) {
      transform: translateX($trigger-size);
      cursor: auto;
      .wrapper {
        opacity: 1;
        pointer-events: auto;
        max-width: 800px;
      }
    }

    .scrollable {
      @include respond-to(normal) {
        overflow: scroll;
      }
    }
  }

  .section.contacts {
    @include respond-to(normal) {
      transform: translateX($trigger-size);
      .wrapper {
        opacity: 1;
      }
    }
  }
}