.video-intro {
  padding-top: 23px;
  margin-bottom: $grid*2 - 4px;

  img {
    border: 1px solid $color-white;
  }

  @include respond-to(normal) {
    margin-bottom: $grid*4; 
  }
}

.multimedia-education {
  @include respond-to(normal) {
    max-width: 500px;
    margin-bottom: $grid*2 + 3px;
  }
}

.agency-services {
  margin-bottom: $grid*2;
  @include respond-to(normal) {
    margin-bottom: $grid*4;
  }
  ul {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    padding: 0 1px;
  }
  li {
    border: 1px solid $color-white;
    margin-bottom: -1px;
    margin-left: -1px;
    white-space: nowrap;
    padding: 24px 12px 23px;
    @include respond-to(normal) {
      padding: 12px 20px 10px;
    }
  }
}

.anchors {
  margin-bottom: $grid*2 - 3px;
  @include respond-to(normal) {
    margin-bottom: $grid*3 - 10px;
  }
}

.project-item {
  overflow: hidden;
  margin-bottom: $grid*2;
  @include respond-to(normal) {
    margin-bottom: $grid*4;
    overflow: visible;
  }
  .font-size-h1 span {
    background-image: linear-gradient(to right, #fff 100%, transparent 100%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 8px 3px;
  }
}

.project-info {
  @include respond-to(normal) {
    position: relative;
    margin-bottom: $grid + 1px;
  }
  .project-img-wrapper {
    display: none;
    @include respond-to(normal) {
      display: block;
      img {
        display: block;
        width: 85%;
        margin-left: auto;
      }
    }
  }
  .project-descr {
    @include respond-to(normal) {
      width: 88%;
      position: absolute;
      top: 50%;
      transform: translateY(-32%);
      margin-bottom: 0;
    }
  }
}

.project-mobile-video {
  margin-bottom: $grid+1px;

  @include respond-to(normal) {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    border: 1px solid $color-white;
  }
}

.project-slider-mobile {
  padding: 0 $grid*2-4px;
  margin-bottom: $grid+1px;
  .slick-list {
    overflow: visible;
  }
  @include respond-to(normal) {
    display: none;
  }
}

.project-slider-item {
  padding: 0 $grid/2;
  display: block !important;
}

.project-slider-img {
  padding-bottom: 69.3%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-actions {
  a {
    margin-right: 10px;
    @include respond-to(normal) {
      margin-right: 20px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 24px;
      background-position: 0 1.14em;
      background-size: 8px 2px;
    }
  }
}

.project-about {
  background: $color-white;
  color: $color-black;
  margin-top: $grid;
}

.project-about-close {
  background: $color-black;
  height: $grid*2;
  position: relative;
  cursor: pointer;

  img {
    width: $grid*2;
    display: block;
    position: absolute;
    right: 29px;
    top: -24px;
  }
}

.project-about-header {
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  padding-top: $grid;
  padding-bottom: $grid;
}

.project-about-text {
  padding-top: $grid;
  p {
    margin-bottom: $grid;
  }

  a {
    color: $color-black;
    background-color: none;
  }
}

.project-about-stats {
  margin-bottom: $grid;
}

.project-about-footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $color-black;
  margin-top: $grid + 6px;

  &.project-about-footer-wide {
    a {
      width: 100%;
      border-left: none;
    }
  }

  a {
    width: 50%;
    color: $color-black;
    background-color: none;
    padding-top: $grid;
    padding-bottom: $grid;
    text-align: center;

    &:last-child {
      border-left: 1px solid $color-black;
    }
  }
}

.events {
  margin-bottom: $grid*2;
  overflow: hidden;

  @include respond-to(normal) {
    overflow: visible;
  }

  .font-size-h1 {
    margin-bottom: $grid*2;
  }

  .font-size-h1 span {
    background-image: linear-gradient(to right, #fff 100%, transparent 100%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
  }

  .events-slider {
    padding: 0 $grid - 2px;
    @include respond-to(normal) {
      display: none;
    }

    .slick-list {
      overflow: visible;
    }
  }

  .events-slider-content {
    padding: $grid;
    border: 1px solid $color-white;
    height: 100%;
  }

  .events-slider-item {
    padding: 0 $grid/2-2px;
  }

  .events-slider-img {
    padding-bottom: 69.3%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -$grid*2 - 1px;
    margin-bottom: 14px;
  }

  .events-fb-link {
    margin-top: $grid/2;
    display: inline-block;
  }
}

.footer {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: $grid*1.5;

  a {
    background-image: none;
    text-decoration: underline;
  }
}

.section-header {
  display: none;
  @include respond-to(normal) {
    display: block;
    height: 190px;
    position: relative;

    .section-header-logo {
      height: 98px;
      display: inline-block;
      background-image: none;
      position: absolute;
      top: 26px;
      left: -37px;
      img {
        display: block;
        height: 100%;
      }
    }

    .section-header-name {
      font-size: 18px;
      line-height: 24px;
      position: absolute;
      right: 0;
      top: 46px;
      background-image: none;

      &.section-header-name-flipped {
        left: 0;
        right: auto;

        span {
          transform: rotate(90deg);
        }
      }

      img, span {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        background-image: linear-gradient(to right, #fff 100%, transparent 100%);
        background-position: 0 1.14em;
        background-repeat: repeat-x;
        background-size: 8px 2px;
      }

      img {
        height: 14.1px;
        margin-top: 2px;
        margin-right: 3px;
      }
    }
  }
}