@mixin respond-to($media) {
  @if $media == normal {
    @media only screen and (min-width: $size-normal) { @content; }
  }
}

@mixin keyframes( $animationName ) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin font-size-h1($size-normal) {
  font-style: normal;
  font-stretch: normal;
  margin-top: 0;
  margin-bottom: $grid - 1px;
  font-size: 32px;
  line-height: 48px;
  @include respond-to(normal) { font-size: $size-normal; margin-bottom: $grid*2; line-height: 96px; }
}