.team-item {
  background: $color-white;
  color: $color-black;
  margin-bottom: $grid*2;
  @include respond-to(normal) {
    background: transparent;
    color: $color-white;
    position: relative;
    margin-bottom: 168px;
    max-width: 700px;
    padding-left: 20px;

    &.team-item-featured {
      position: relative;
      margin-bottom: 0;
      max-width: 100%;
      padding-left: 0;

      .team-imgwrapper {
        width: 48%;
        max-width: 100%;
      }

      .team-info-wrapper {
        width: 60.6%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &.team-item-featured-flipped {
      margin-top: -$grid*3;
      margin-bottom: $grid*2;

      .team-imgwrapper {
        margin-left: auto;
        margin-right: $grid*4;
      }

      .team-info-wrapper {
        left: 0;
        right: auto;
        width: 310px;
      }

      .team-show-more {
        left: 0;
        bottom: 0;
      }
    }
  }
}

.team-heading {
  @include respond-to(normal) {
    margin-bottom: $grid;
  }
}

.team-info-wrapper {
  padding-top: $grid;
  padding-bottom: $grid;
  @include respond-to(normal) {
    z-index: 5;
    position: absolute;
    width: 50%;
    top: 132px;
    right: -50px;
  }
}

.team-imgwrapper {
  @include respond-to(normal) {
    max-width: 320px;
    position: relative;
    &.visible {
      .team-img-2 {
        transform: translate($grid*3,$grid*2.5);
        z-index: 2;
      }
      .team-img-3 {
        transform: translate($grid*6,$grid*5);
        z-index: 3;
      }
    }
  }
}

.team-img {
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include respond-to(normal) {
    padding-bottom: 130%;
    position: relative;
    z-index: 1;
  }

  &.team-img-2, &.team-img-3 {
    display: none;
    @include respond-to(normal) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.team-item-right {
  @include respond-to(normal) {
    .team-imgwrapper {
      margin-left: auto;
      &.visible {
        .team-img-2 {
          transform: translate(-$grid*3, $grid*2.5);
          z-index: 2;
        }
        .team-img-3 {
          transform: translate(-$grid*6, $grid*5);
          z-index: 3;
        }
      }
    }
    .team-info-wrapper {
      left: 0;
      right: auto;
    }
  }
}

.team-show-more {
  background: $color-black;
  padding-top: $grid;
  padding-bottom: $grid;
  display: block;

  @include respond-to(normal) {
    position: absolute;
    bottom: $grid;
    left: $grid;
    padding-top: 0;
    padding-bottom: 0;
    background: none; 
    z-index: 2;
  }

  span {
    background-image: linear-gradient(to right, #fff 100%, transparent 100%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
  }
}

.team-about {
  background: $color-white;
  color: $color-black;
  position: relative;
  z-index: 2;
  @include respond-to(normal) {
    position: fixed;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 20px;
    z-index: 99999;
    background: transparent;
    margin-top: 0;

    .team-about-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
    }
  }
}

.team-about-wrapper {
  @include respond-to(normal) {
    position: absolute;
    top: $grid*2;
    bottom: $grid*2;
    right: 0;
    left: 0;
    max-width: 640px;
    overflow: scroll;
    margin: 0 auto;
    background: $color-white;
    border: 1px solid $color-black;

    .padded {
      padding-left: $grid;
      padding-right: $grid;
    }

    &.team-about-static {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }
}

.team-about-close {
  width: $grid*2;
  height: $grid*2;
  position: absolute;
  right: $grid/3;
  top: -60px;
  cursor: pointer;

  @include respond-to(normal) {
    height: $grid;
    cursor: auto;
    padding: 5px 11px;
    position: sticky;
    top: 0;
    background: $color-black;
    width: 100%;
    right: 0;
  }

  img {
    width: 100%;
    display: block;
    @include respond-to(normal) {
      display: none;
    }
  }
}

.team-about-close-icon {
  @include respond-to(normal) {
    width: 14px;
    height: 14px;
    border: 1px solid $color-white;
    cursor: pointer;
    &:hover {
      background: $color-orange;
    }
  }
}

.team-about-header {
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  padding-top: $grid;
  padding-bottom: $grid;
}

.team-about-book {
  margin-top: $grid;
  margin-bottom: $grid;

  img {
    display: block;
    width: 100%;
  }
}

.team-about-text {
  padding-top: $grid;
  p {
    margin-bottom: $grid;

    @include respond-to(normal) {
      font-size: 16px;
      line-height: 24px;
    }

    &.blue {
      color: $color-blue;
    }

    &.separated {
      border-top: 1px solid $color-blue;
      padding-top: $grid;
    }
  }

  a {
    color: $color-black;
    background-color: none;
  }
}

.team-about-stats {
  margin-bottom: $grid;
}

.team-buy-book {
  background: $color-white;
  padding-top: $grid;
  padding-bottom: $grid;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
  display: block;
  color: $color-black;

  span {
    background-image: linear-gradient(to right, $color-black 100%, transparent 100%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
  }
}

.team-about-footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $color-black;
  margin-top: -1px;

  a {
    width: 100%;
    color: $color-black;
    background-color: none;
    padding-top: $grid;
    padding-bottom: $grid;
    text-align: left;
  }
}