@font-face {
    font-family: 'tt_travels';
    src: url('/public/fonts/typetype_-_tt_travels_demibold-webfont.woff2') format('woff2'),
         url('/public/fonts/typetype_-_tt_travels_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-size-h1 {
  @include font-size-h1(90px);
  a {
    background-image: linear-gradient(to right, #fff 100%, transparent 100%);
    background-position: 0 1.047em;
    background-repeat: repeat-x;
    background-size: 8px 3px;
  }
}

.font-size-descr {
  margin-top: 0;
  margin-bottom: $grid;
}

.font-size-p {
  font-family: 'Roboto', sans-serif;
}