@font-face {
    font-family: 'nimbus_sans';
    src: url('~/public/fonts/urw-nimbussanext-bol-webfont.woff2') format('woff2'),
         url('~/public/fonts/urw-nimbussanext-bol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-size-h1 {
  @include font-size-h1(85px);
}

.font-size-descr {
  margin-top: 0;
  margin-bottom: $grid;
}