$base-transition-style: cubic-bezier(0.660, 0.000, 0.070, 1.000);
$transition-time: 300ms;
$font-family-eng: 'nimbus_sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-header: "Hoefler Text Black";

// $size-large:         1024px;
$size-normal:         1024px;

$color-white: #fff;
$color-black: #000;
$color-orange: #FF7700;
$color-pink: #FFB7FD;
$color-blue: #0019AA;

$grid: 24px;

// header
$logo-mobile-width: 57px;
$header-mobile-offset: 48px;